<html>
    <head>
        <style>
            .button {
                background-color: #d1d3d1; /* Green */
                border: black;
                color: rgb(0, 0, 0);
                padding: 20px 40px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 24px;
                transition-duration: 0.4s;
            }
            .button:hover {
                background-color: #00c0eb; /* Green */
                color: white;
            }
            h6 {
                font-size: 200%;
            }
        </style>
    </head>

    <body>
        <p><button class='button' onclick='initHangman()'>Play Now!</button></p>

        <div id="game">
            <p id="word"></p>
            <p id="lives"></p>

            <p id = "letters"></p>
            <input style = "display: none" name="guess" id="guess">
            <button id = "guessButton" style = "display: none" onclick = "guessLetter()">Guess a letter!</button>
            <p id = "gameOver"></p>

        </div>

        <script>
            function getSolution () {
                var possibleSolutions = ["coding", "programmer", "computer", "boolean", "string", "variable", "integer", "float"];
                var randomIndex = Math.floor(Math.random() * possibleSolutions.length);
                return possibleSolutions[randomIndex];
            }

            function gameOver (solution, won) {
                message = "";
                if (won) {
                    message = "YOU WIN!"
                } else {
                    message = "GAME OVER";
                }
                message += "\n\nThe correct answer was " + solution + ".";
                document.getElementById("gameOver").innerHTML = message;
                finished = true;
            }

            let lives = 7;
            let solution = ""
            let solutionLetters = []
            let progress = ""
            let wrongLetters = []
            let finished = true;


            function initHangman () {
                solution = getSolution().toUpperCase();
                solutionLetters = solution.split("");
                wrongLetters = [];
                lives = 7;
                progress = "_".repeat(solution.length).split('');
                finished = false;

                updateDisplay()
                document.getElementById("gameOver").innerHTML = "";
                document.getElementById("guess").style.display = "block";
                document.getElementById("guessButton").style.display = "block";


            }

            function updateDisplay(){
                document.getElementById("word").innerHTML = progress.join(" ");
        
                document.getElementById("lives").innerHTML = "Lives: "+ lives
                document.getElementById("letters").innerHTML = "[" + wrongLetters.join(", ") + "]"


            }
            
            function guessLetter(){
                if(finished){
                    return;
                }
                const guess = document.getElementById("guess").value.toUpperCase()
                let goodGuess = false;

                for(let i = 0; i < solutionLetters.length; i++){
                    if(solutionLetters[i] == guess){
                        goodGuess = true;
                        progress[i] = guess;
                    }
                }
                updateDisplay()

                if(goodGuess){
                    if(progress.join('') == solution){
                        return gameOver(solution, true)
                    }
            

                } else{
                    wrongLetters.push(guess);
                    lives--
                    updateDisplay()
                }
                if(lives == 0){
                    gameOver(solution,false)
                }
            }
            

    //             while (wrongLetters.length < lives) {
    //                 var promptMessage = "Here is your progress on the word so far: \n" + progress.join(' ') + "\nWrong guesses: [" + wrongLetters.toString() + "]\n\nPick a letter:";
    //                 var userInput = prompt(promptMessage);

    //                 var guess = userInput.toUpperCase();
    //                 var goodGuess = false;

    //                 for(var i = 0; i < solutionLetters.length; i++) {
    //                     if (solutionLetters[i] == guess) {
    //     goodGuess = true;
    //     progress[i] = guess;
        
    //   }
    // }

//     if (goodGuess) {
//       if (progress.join('') == solution) {
//         return gameOver(solution, true);
//       }
//     } else {
//       wrongLetters.push(guess);
//       alert("Sorry, " + guess + " is incorrect.\nYou have " + (lives - wrongLetters.length) + " strikes left.");
//     }
//   }
//   return gameOver(solution, false);


        </script>
    </body>
</html>