<table>
    <tr>
        <td><a href="{{ site.baseurl }}/">Home</a></td>
        <td><a href="{{ site.baseurl }}/GamesArcade/countrygame">Guess the Country</a></td>
        <td><a href="{{ site.baseurl }}/GamesArcade/hangman">Hangman</a></td>
        <td><a href="{{ site.baseurl }}/GamesArcade/jeopardy">Jeopardy</a></td>
        <td><a href="{{ site.baseurl }}/GamesArcade/tictactoe">Tic Tac Toe</a></td>
        <td><a href="{{ site.baseurl }}/GamesArcade/numbergame">Guess the Number</a></td>
    </tr>
</table>
